html {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
body {
    font-family: 'Copse', serif;
    text-align:center;
}
div.aappicture {
    height: 450px;
    width: 300px;
    float:left;
}


#pics {
    width: 900px;
    height: 1350px;
    border: solid 1px black;
    font-size: 0px;
    margin:auto;
}
